@model DataBase.ViewModels.EleccionesViewModel
@{
    ViewData["Title"] = "Elecciones";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<body style="background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">

    <header class="container-fluid shadow position-relative fixed-top col-lg-pull-2 border-bottom bg-light" id="HeaderHome">

        <div class="row ml-4 p-1">

            <div class="font-weight-bolder pt-2" style="font-family: 'Lemonada', cursive;">
                <h1>Elecciones</h1>
            </div>

            <a asp-controller="Admin" asp-action="Home" class="btn btn-info ml-auto btn-group-sm rounded pt-1 mt-1" style="font-size:17px; font-family: 'Lemonada', cursive; height:2%;"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

        </div>

    </header>

    <div class="container mt-5 d-flex justify-content-center table-responsive-lg table-responsive-sm">


        <table class="table table-hover shadow rounded table-borderless">

            <thead class="thead-primary shadow-sm">
                <tr class="bg-primary">
                    <th scope="col" colspan="3">
                        <h2 class="mr-auto text-white" style="font-family: 'Abril Fatface', cursive;"><i class="fa fa-certificate" style="color:orange" aria-hidden="true"></i> Listado de Elecciones</h2>
                    </th>
                    <th scope="col" class="text-center">
                        @if (Model.Procesoactivos)
                        {
                            <button data-toggle="modal" disabled data-target="#agregarNewPuesto" class="shadow-sm btn btn-success ml-auto btn-lg  text-white" style="margin-right:5px;">Iniciar Nuevo Proceso Electivo</button>


                        }
                        else {
                        <a data-toggle="modal" data-target="#agregarNewPuesto" class="shadow-sm btn btn-success ml-auto btn-lg  text-white" style="margin-right:5px;">Iniciar Nuevo Proceso Electivo</a>
                        }
                        <div class="modal fade" id="agregarNewPuesto" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-success">

                                    <div class="modal-header bg-success text-white rounded-bottom shadow">


                                        <div class=" mr-auto">
                                            <h2 class="modal-title"><i class="fa fa-bar-chart" aria-hidden="true"></i> Agregar Elecciones</h2>
                                        </div>
                                        <div class="">
                                            <button type="button" class="btn btn-danger btn-sm text-white p-2 rounded-pill" style="font-size:14px;" data-dismiss="modal" aria-label="Close">
                                                Cancelar
                                            </button>
                                        </div>

                                    </div>
                                    <form asp-action="Elecciones" asp-controller="Elecciones" method="post">
                                        <div class="modal-body bg-light text-dark">
                                            <span asp-validation-for="Nombre" class="text-danger"></span>

                                            <div class="form-group ">
                                                <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Nombre</label>

                                                <input asp-for="Nombre" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Nombre" />
                                            </div>

                                            <div class="form-group">
                                                <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Fecha</label>
                                                <span asp-validation-for="Fecha" class="text-danger"></span>

                                                <div class="row">
                                                    <div class='col-12'>
                                                        <input asp-for="Fecha" placeholder="Ingresar Fecha" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg glyphicon-calendar" id='datetimepicker4' onchange="validate()" />
                                                    </div>
                                                    @*<script type="text/javascript">
                    $(function () {
                        $('#datetimepicker4').datetimepicker();
                    });
                </script>*@
                                                </div>
                                                <span class="text-danger"></span>
                                            </div>



                                            <input type="hidden" name="Estado" value="Progreso" />

                                            <div class="form-group row mt-4">
                                                <div class="col">
                                                    <input type="submit" value="Agregar" class="btn btn-outline-success btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                </div>
                                                <div class="col">
                                                    <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    </th>



                </tr>
            </thead>

            <thead class="table-info text-dark font-weight-light text-center" style="font-family: 'Abril Fatface', cursive; font-size:15px;">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Resultado</th>
                </tr>
            </thead>
            <tbody style="font-size:14px; overflow-y: scroll" class="text-center">
                @foreach (var e in Model.elecciones)
                {
                    <tr class="bg-light mt-3">
                        <td>@Html.DisplayFor(ModelItem => e.Nombre)</td>
                        <td>@Html.DisplayFor(ModelItem => e.Fecha)</td>
                        <td class="text-info font-weight-bolder">@Html.DisplayFor(ModelItem => e.Estado)</td>
                        @*<td class="text-secondary font-weight-bolder">Finalizado</td>*@
                        <td>
                            @if (e.Estado == "Finalizado")
                            {
                                @*Ver Resultado*@
                                <a data-toggle="modal" data-target="#resultado@(e.IdEleccion)" class="text-link text-primary" style="font-size:14px; ">Ver Resultado</a>
                                <div class="modal fade " id="resultado@(e.IdEleccion)" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content bg-danger shadow-sm p-1 rounded">

                                            <div class="modal-header bg-info p-1 rounded">

                                                <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Resultados</h5>

                                                <button type="button" class="btn btn-primary btn-sm text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>

                                            </div>
                                            @if (Model.Resultados != null)
                                            {
                                                var itemscresutlado = Model.Resultados.SelectMany(sublist => sublist.Where(com => com.ideleccion == e.IdEleccion)).ToList();
                                                <div class="modal-body bg-light text-center">
                                                    <h4>Resultados de la presente elecciones</h4>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Candidato</th>
                                                                <th scope="col">Puesto</th>
                                                                <th scope="col">Votos</th>
                                                                <th scope="col">%</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (itemscresutlado.Count > 0)
                                                            {
                                                                @foreach (var resul in itemscresutlado)
                                                                {
                                                                    <tr>
                                                                        <td>@Html.DisplayFor(ModelItem => resul.Nombre)</td>
                                                                        <td>@Html.DisplayFor(ModelItem => resul.Puesto)</td>
                                                                        <td>@Html.DisplayFor(ModelItem => resul.Votos)</td>
                                                                        <td>@Html.DisplayFor(ModelItem => resul.porcentaje)%</td>

                                                                    </tr>

                                                                }
                                                            }


                                                        </tbody>
                                                    </table>
                                                    <div class="mt-4 d-flex justify-content-center">
                                                        <button class="text-white btn btn-info shadow-lg ml-auto  btn-block" style="font-size:15px;" data-dismiss="modal">Listo</button>

                                                    </div>

                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                                                }
                                                else
                                                {
                                @*Modelo para Finalizar puesto*@
                                <a data-toggle="modal" data-target="#des-@(e.IdEleccion)" class="btn btn-danger btn-sm text-white" style="font-size:12px; "><i class="fa fa-times-circle" style="color:white" aria-hidden="true"></i> Finalizar</a>

                                <div class="modal fade " id="des-@(e.IdEleccion)" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-sm">
                                        <div class="modal-content bg-info  p-1 rounded">

                                            <div class="modal-header bg-info rounded">

                                                <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Advertencía!</h5>
                                                <button type="button" class="btn btn-danger text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>
                                            </div>

                                            <div class="modal-body bg-light text-center">
                                                <h4 class="text-dark">¿Seguro que deseas  <span class="text-danger">Finalizar</span> estas Elecciones?</h4>

                                                <form asp-action="EleccionesFinalizar" method="post">
                                                    <div class="mt-4 d-flex justify-content-center">
                                                        <button type="submit" class="btn btn-outline-secondary btn-sm" style="font-size:16px; "><i class="fa fa-check-circle-o" style="color:greenyellow" aria-hidden="true"></i> Finalizar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </td>



                    </tr>
                }


            </tbody>
        </table>




    </div>


</body>
<script>
    function validate() {
        var first = document.getElementById('datetimepicker4').value;
        var today = new Date();
        var date = ""+today.getFullYear() + (today.getMonth() + 1) + today.g;
        var startDate = new Date($('#datetimepicker4').val());
        var endDate = new Date(date);
        console.log(first)
        console.log(date)
        if (first < dateTime    ) {
            alert("start time is lesser");
            
            console.log(firsone)
            console.log(dateTime)


        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}