@model DataBase.ViewModels.CiudadanosViewModel
@{
    ViewData["Title"] = "Ciudadanos";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<body style="background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

    <header class="container-fluid shadow position-relative fixed-top col-lg-pull-2 border-bottom bg-light" id="HeaderHome">

        <div class="row ml-4 p-1">

            <div class="font-weight-bolder pt-2" style="font-family: 'Lemonada', cursive;">
                <h1>Ciudadanos</h1>
            </div>

            <a asp-controller="Admin" asp-action="Home" class="btn btn-info ml-auto btn-group-sm rounded pt-1 mt-1" style="font-size:17px; font-family: 'Lemonada', cursive; height:2%;"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

        </div>

    </header>

    <div class="container mt-5 d-flex justify-content-center">

        <div class="card rounded shadow-lg p-1 bg-dark" style="width: 80rem; ">

            <div class="card-header bg-transparent row ml-3">

                <h2 class="mr-auto text-white" style="font-family: 'Abril Fatface', cursive;"><i class="fa fa-male" aria-hidden="true"></i> Lista de ciudadanos</h2>
                <a data-toggle="modal" data-target="#agregarNewCiudadano" class="btn btn-success ml-auto btn-lg  text-white" style="margin-right:5px;">Nuevo Ciudadano</a>

                <div class="modal fade" id="agregarNewCiudadano" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content bg-success">

                            <div class="modal-header bg-success text-white rounded-bottom shadow">


                                <div class=" mr-auto">
                                    <h2 class="modal-title"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Ciudadano</h2>
                                </div>
                                <div class="">
                                    <button type="button" class="btn btn-danger btn-sm text-white p-2 rounded-pill" style="font-size:14px;" data-dismiss="modal" aria-label="Close">
                                        Cancelar
                                    </button>
                                </div>

                            </div>
                            <form asp-action="Ciudadanos" asp-controller="Ciudadanos" method="post" enctype="multipart/form-data">
                                <div class="modal-body bg-light">

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Cedula</label>
                                            <input asp-for="Cedula" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Ingresar Cedula">
                                            <span asp-validation-for="Cedula" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Nombre</label>
                                            <input asp-for="Nombre" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Ingresar Nombre">
                                            <span asp-validation-for="Nombre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Apellido</label>
                                            <input asp-for="Apellido" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Ingresar Apellido">
                                            <span asp-validation-for="Apellido" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Email</label>
                                            <input asp-for="Email" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark" placeholder="Ingresar Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <input type="hidden" name="Estado" value="Activo" />

                                        <div class="form-group row mt-4">
                                            <div class="col">
                                                <input type="submit" value="Agregar" class="btn btn-outline-success btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                            </div>
                                            <div class="col">
                                                <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body bg-light table-responsive-sm">

                <table class="table table-striped text-center shadow rounded table-borderless">
                    <thead class="table-primary" style="font-family: 'Abril Fatface', cursive; font-size:13px;">
                        <tr>
                            <th scope="col">Cedula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Email</th>
                            <th scope="col">Estado</th>
                            <th scope="col">🛠</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:14px; overflow-y: scroll;">
                        @foreach (var c in Model.ciudadanos)
                        {
                            <tr>
                                <td>@Html.DisplayFor(ModelItem => c.Cedula)</td>
                                <td>@Html.DisplayFor(ModelItem => c.Nombre)</td>
                                <td>@Html.DisplayFor(ModelItem => c.Apellido)</td>
                                <td>@Html.DisplayFor(ModelItem => c.Email)</td>
                                <td>

                                    @if (c.Estado == "Inactivo")
                                    {
                                        <div class="text-danger font-weight-bolder">
                                            @Html.DisplayFor(ModelItem => c.Estado)
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="text-info font-weight-bolder">
                                            @Html.DisplayFor(ModelItem => c.Estado)
                                        </div>
                                    }
                                </td>

                                <td>

                                    @*Editar ciudadano*@
                                    <a data-toggle="modal" data-target="#EditarCiudadano@(c.Cedula)" class="text-white btn btn-warning ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                                    <div class="modal fade" id="EditarCiudadano@(c.Cedula)" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content bg-success">

                                                <div class="modal-header bg-warning text-dark rounded-bottom shadow">

                                                    <div class=" mr-auto">
                                                        <h2 class="modal-title"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Ciudadano</h2>

                                                    </div>
                                                    <div class="">
                                                        <button type="button" class="btn btn-danger btn-sm text-white p-2 rounded-pill" style="font-size:14px;" data-dismiss="modal" aria-label="Close">
                                                            Cancelar
                                                        </button>
                                                    </div>

                                                </div>

                                                <form asp-action="EditarCiudadano" asp-controller="Ciudadanos" method="post">
                                                    <div class="modal-body bg-light">

                                                        <div class="form-group">
                                                            <label style="font-family: 'Rowdies', cursive; font-size:15px;">Cédula</label>
                                                            <span asp-validation-for="Cedula" class="text-danger"></span>

                                                            <input asp-for="Cedula" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark tex-dark" pattern="[0-9]{3}-[0-9]{7}-[0-9]{1}" placeholder="Ingresar Cédula" value="@c.Cedula">
                                                            <small class="form-text text-muted">El formato de la cedula debe ser: 000-0000000-0</small>

                                                        </div>
                                                        <div class="form-group">
                                                            <label style="font-family: 'Rowdies', cursive; font-size:15px;">Nombre</label>
                                                            <span asp-validation-for="Nombre" class="text-danger"></span>

                                                            <input asp-for="Nombre" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark tex-dark" placeholder="Ingresar Nombre" value="@c.Nombre">
                                                        </div>
                                                        <div class="form-group">
                                                            <label style="font-family: 'Rowdies', cursive; font-size:15px;">Apellido</label>
                                                            <span asp-validation-for="Apellido" class="text-danger"></span>

                                                            <input asp-for="Apellido" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark tex-dark" placeholder="Ingresar Apellido" value="@c.Apellido">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Email</label>
                                                            <span asp-validation-for="Email" class="text-danger"></span>

                                                            <input asp-for="Email" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg border-bottom border-dark tex-dark" id="" placeholder="Ingresar Email" value="@c.Email">
                                                        </div>
                                                        <input type="hidden" name="Estado" value="@c.Estado" />

                                                        <div class="form-group row mt-4">
                                                            <div class="col">
                                                                <input type="submit" value="Editar" class="btn btn-outline-success btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                            </div>
                                                            <div class="col">
                                                                <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                            </div>
                                                        </div>

                                                    </div>

                                                </form>


                                            </div>
                                        </div>

                                    </div>




                                    @*ELIMINAR CIUDADANO*@

                                    @if (c.Estado == "Inactivo")
                                    {
                                        <a data-toggle="modal" data-target="#ActivarCiudadano@(c.Cedula)" class="text-white btn btn-success ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>

                                        <div class="modal fade " id="ActivarCiudadano@(c.Cedula)" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content bg-info shadow-sm p-1 rounded">

                                                    <div class="modal-header bg-info p-1 rounded">

                                                        <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Reactivar</h5>

                                                        <button type="button" class="btn btn-primary btn-sm text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                            Cancelar
                                                        </button>

                                                    </div>

                                                    <div class="modal-body bg-light text-center">
                                                        <h4>¿SEGURO QUE QUIERE REACTIVAR ESTE CIUDADANO?</h4>

                                                        <div class="mt-2 d-flex justify-content-center">
                                                            <a asp-action="EliminarCiudadano" asp-controller="Ciudadanos" asp-route-id="@c.Cedula" class="text-white btn btn-info shadow-lg ml-auto  btn-block" style="font-size:15px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Reactivar</a>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <a data-toggle="modal" data-target="#EliminarCiudadano@(c.Cedula)" class="text-white btn btn-danger ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                        <div class="modal fade " id="EliminarCiudadano@(c.Cedula)" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content bg-danger shadow-sm p-1 rounded">

                                                    <div class="modal-header bg-danger p-1 rounded">

                                                        <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Eliminar</h5>

                                                        <button type="button" class="btn btn-primary btn-sm text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                            Cancelar
                                                        </button>

                                                    </div>

                                                    <div class="modal-body bg-light text-center">
                                                        <h4>¿SEGURO QUE QUIERE ELIMINAR ESTE CIUDADANO?</h4>

                                                        <div class="mt-2 d-flex justify-content-center">
                                                            <a asp-action="EliminarCiudadano" asp-controller="Ciudadanos" asp-route-id="@c.Cedula" class="text-white btn btn-danger shadow-lg ml-auto  btn-block" style="font-size:15px;"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    }



                                </td>

                            </tr>
                        }


                    </tbody>
                </table>

            </div>

        </div>

    </div>


</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}