@model DataBase.ViewModels.CandidatosViewModel

@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}
<head>
    <script>
        $(function () {
            $('.example-popover').popover({
                container: 'body'
            })
        })
    </script>
    <style>
        label {
            cursor: pointer;
        }

        #upload-photo {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        #upload-photo2 {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
</head>

<body style="background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">

    <header class="container-fluid shadow position-relative fixed-top col-lg-pull-2 border-bottom bg-light" id="HeaderHome">

        <div class="row ml-4 p-1">

            <div class="font-weight-bolder pt-2" style="font-family: 'Lemonada', cursive;">
                <h1>Candidatos</h1>
            </div>

            <a asp-controller="Admin" asp-action="Home" class="btn btn-info ml-auto btn-group-sm rounded pt-1 mt-1" style="font-size:17px; font-family: 'Lemonada', cursive; height:2%;"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

        </div>

    </header>

    <div class="container mt-5 d-flex justify-content-center table-responsive-lg table-responsive-sm">


        <table class="table table-hover shadow rounded table-borderless">

            <thead class="thead-dark shadow-sm">
                <tr class="bg-primary">
                    <th scope="col" colspan="6">
                        <h2 class="mr-auto text-white" style="font-family: 'Abril Fatface', cursive;"><i class="fa fa-address-book" aria-hidden="true"></i>  Agregar Candidatos</h2>
                    </th>
                    <th scope="col" class="text-center">
                        <a data-toggle="modal" data-target="#agregarNewPuesto" class="shadow-sm btn btn-success ml-auto btn-lg  text-white" style="margin-right:5px;">Nuevo Candidatos</a>

                        <div class="modal fade" id="agregarNewPuesto" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-success">

                                    <div class="modal-header bg-success text-white rounded-bottom shadow">


                                        <div class=" mr-auto">
                                            <h2 class="modal-title"><i class="fa fa-user-plus" aria-hidden="true"></i> Agregar Candidatos</h2>
                                        </div>
                                        <div class="">
                                            <button type="button" class="btn btn-danger btn-sm text-white p-2 rounded-pill" style="font-size:14px;" data-dismiss="modal" aria-label="Close">
                                                Cancelar
                                            </button>
                                        </div>

                                    </div>
                                    <form asp-action="Candidatos" asp-controller="Candidatos" method="post" enctype="multipart/form-data">
                                        <div class="modal-body bg-light text-dark">

                                            <div class="form-group">
                                                <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Foto</label>
                                                <div>
                                                    <div class="d-flex justify-content-center">
                                                        <img id="imagenPrevisualizacion" src="~/images/Candidato/profile-logo.png" asp-append-version="true"
                                                             class="rounded-circle " style="width: 150px;height: 150px; ">

                                                    </div>
                                                    <span asp-validation-for="newfoto" class="text-danger"></span>


                                                    @*<p id="info" class="text-danger text-center">Esta imagen sera permanente y no podra ser modificada</p>*@
                                                    <div class="d-flex justify-content-center mt-2">
                                                        <div>
                                                            <input style="opacity: 0; width: 0;" id="fotonew" asp-for="newfoto" />

                                                            <label for="upload-photo" class="btn btn-outline-primary mr-3 rounded float-left">Añadir foto</label>

                                                            <input type="file" name="photo" id="upload-photo" asp-for="Photo" accept="image/*" />

                                                            <button type="button" id="delete" class="btn btn-outline-danger rounded float-left" hidden>Quitar</button>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <div class="row col-lg-4">
                                                        <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Nombre</label>
                                                    </div>
                                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                                    <input asp-for="Nombre" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Nombre" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class="row col-lg-4">
                                                        <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Apellido</label>
                                                    </div>
                                                    <span asp-validation-for="Apellido" class="text-danger"></span>
                                                    <input asp-for="Apellido" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Apellido" />
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label style="font-family: 'Rowdies', cursive; font-size:15px;">Seleccionar partido</label>
                                                    <span asp-validation-for="IdPartido" class="text-danger ml-5 row"></span>
                                                    <select asp-for="IdPartido" asp-items="@(new  SelectList(Model.ListPartido,"IdPartido","Nombre"))" class="custom-select custom-select-lg" size="3">
                                                        <option disabled>Seleccionar Partido..</option>

                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label style="font-family: 'Rowdies', cursive; font-size:15px;">Seleccionar puesto electivo</label>
                                                    <span asp-validation-for="IdPuestoElectivo" class="text-danger ml-5 row"></span>
                                                    <select asp-for="IdPuestoElectivo" asp-items="@(new  SelectList(Model.ListPuestoElectivo,"IdPuestoElectivo","Nombre"))" class="custom-select custom-select-lg" size="3">
                                                        <option disabled>Seleccionar puesto..</option>

                                                    </select>
                                                </div>
                                            </div>



                                            <input type="hidden" name="Estado" value="Activo" />

                                            <div class="form-group row mt-4">
                                                <div class="col">
                                                    <input type="submit" value="Agregar" class="btn btn-outline-success btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                </div>
                                                <div class="col">
                                                    <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    </th>

                    @*<th>
                              <button type="button" class="btn btn-danger text-white" data-container="body" data-toggle="popover" data-placement="top" data-content="En estos momentos no puede agregar un candidato, ya que en el sistema no hay registrado puesto electivo o un partido.">
                                 Información!
                                </button>
                        </th>*@

                </tr>
            </thead>

            <thead class="table-info text-dark font-weight-light text-center" style="font-family: 'Abril Fatface', cursive; font-size:15px;">
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Partido</th>
                    <th scope="col">Puesto Electivo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">🛠</th>
                </tr>
            </thead>
            <tbody style="font-size:14px; overflow-y: scroll" class="text-center">
                @foreach (var c in Model.candidatos)
                {
                <tr class="bg-light mt-3">
                    <td>
                        @{ var photopath = "~/images/Candidato/" + (!string.IsNullOrEmpty(c.FotoPerfil) ? c.FotoPerfil : "desconocido.jpg ");}
                        <img src="@photopath" class="rounded mx-auto d-block mr-3 mt-2" width="60" height="60" asp-append-version="true">
                    </td>
                    <td>@Html.DisplayFor(ModelItem => c.Nombre)</td>
                    <td>@Html.DisplayFor(ModelItem => c.Apellido)</td>
                    <td>@Html.DisplayFor(ModelItem => c.Partido)</td>
                    <td>@Html.DisplayFor(ModelItem => c.PuestoElectivo)</td>
                    <td>

                        @if (c.Estado == "Inactivo")
                        {
                            @*Modelo para activar puesto*@

                            <div class="text-danger font-weight-bolder">
                                @Html.DisplayFor(ModelItem => c.Estado)
                            </div>

                        }
                        else
                        {
                            <div class="text-info font-weight-bolder">
                                @Html.DisplayFor(ModelItem => c.Estado)
                            </div>
                        }

                    </td>
                    
                    <td>
                        @if (c.Nombre == "Ninguno")
                        {

                        }
                        else
                        {
                            @*Editar puesto electivo*@
                            <a data-toggle="modal" data-target="#EditarPuesto@(c.IdCandidato)" class="text-white btn btn-warning ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                            <div class="modal fade" id="EditarPuesto@(c.IdCandidato)" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bg-success">

                                        <div class="modal-header bg-warning text-dark rounded-bottom shadow">


                                            <div class=" mr-auto">
                                                <h2 class="modal-title"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Candidato</h2>
                                            </div>
                                            <div class="">
                                                <button type="button" class="btn btn-danger btn-sm text-white p-2 rounded-pill" style="font-size:14px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>
                                            </div>

                                        </div>
                                        <form asp-action="EditarCandidatos" asp-controller="Candidatos" method="post" enctype="multipart/form-data">
                                            <div class="modal-body bg-light text-dark">


                                                <div class="form-group">
                                                    <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Foto</label>
                                                    <div>
                                                        <div class="d-flex justify-content-center">
                                                            <img id="imagenPrevisualizacion2" src="@photopath" asp-append-version="true"
                                                                 class="rounded-circle " style="width: 150px;height: 150px; ">
                                                        </div>
                                                        <span asp-validation-for="Photo" class="text-danger text-center"></span>
                                                        <div class="d-flex justify-content-center mt-2">
                                                            <div>
                                                                <label for="upload-photo2" class="btn btn-outline-primary mr-3 rounded float-left">Añadir foto</label>
                                                                <input type="file" id="upload-photo2" asp-for="Photo" accept="image/*" />
                                                                <button type="button" id="delete2" class="btn btn-outline-danger rounded float-left">Quitar</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <div class="row col-lg-4">
                                                            <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Nombre</label>
                                                        </div>
                                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                                        <input asp-for="Nombre" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Nombre" value="@c.Nombre" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <div class="row col-lg-4">
                                                            <label class="ml-3" style="font-family: 'Rowdies', cursive; font-size:15px;">Apellido</label>
                                                        </div>
                                                        <span asp-validation-for="Apellido" class="text-danger"></span>
                                                        <input asp-for="Apellido" class="form-control shadow-sm p-3 bg-white rounded-pill form-control-lg" placeholder="Ingresar Apellido" value="@c.Apellido" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label style="font-family: 'Rowdies', cursive; font-size:15px;">Seleccionar partido</label>
                                                        <span asp-validation-for="IdPartido" class="text-danger ml-5 row"></span>
                                                        <select asp-for="IdPartido" asp-items="@(new  SelectList(Model.ListPartido,"IdPartido","Nombre"))" class="custom-select custom-select-lg" size="3" value="@c.IdPartido">
                                                            <option disabled>Seleccionar Partido..</option>

                                                        </select>
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label style="font-family: 'Rowdies', cursive; font-size:15px;">Seleccionar puesto electivo</label>
                                                        <span asp-validation-for="IdPuestoElectivo" class="text-danger ml-5 row"></span>
                                                        <select asp-for="IdPuestoElectivo" asp-items="@(new  SelectList(Model.ListPuestoElectivo,"IdPuestoElectivo","Nombre"))" class="custom-select custom-select-lg" size="3" value="@c.IdPuestoElectivo">
                                                            <option disabled>Seleccionar puesto..</option>

                                                        </select>
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <input type="hidden" asp-for="IdCandidato" value="@c.IdCandidato" />

                                                <div class="form-group row mt-4">
                                                    <div class="col">
                                                        <input type="submit" value="Agregar" class="btn btn-outline-success btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                    </div>
                                                    <div class="col">
                                                        <input type="reset" value="Limpiar" class="btn btn-outline-warning btn-block" style="font-family: 'Rowdies', cursive; font-size:15px;" />
                                                    </div>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>




                            @*eliminar puesto*@





                            @if (c.Estado == "Inactivo")
                            {
                                <a data-toggle="modal" data-target="#EliminarCiudadano@(c.IdCandidato)" class="text-white btn btn-success ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>

                                <div class="modal fade " id="EliminarCiudadano@(c.IdCandidato)" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content bg-info shadow-sm p-1 rounded">

                                            <div class="modal-header bg-info p-1 rounded">

                                                <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Reactivar</h5>

                                                <button type="button" class="btn btn-primary btn-sm text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>

                                            </div>

                                            <div class="modal-body bg-light text-center">
                                                <h4>¿SEGURO QUE QUIERE REACTIVAR ESTE PARTIDO?</h4>

                                                <div class="mt-2 d-flex justify-content-center">
                                                    <a asp-action="EliminarCandidatos" asp-controller="Candidatos" asp-route-id="@(c.IdCandidato)" class="text-white btn btn-info shadow-lg ml-auto  btn-block" style="font-size:15px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Reactivar</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <a data-toggle="modal" data-target="#EliminarCiudadano@(c.IdCandidato)" class="text-white btn btn-danger ml-auto  btn-sm shadow rounded" style="margin-right:5px; font-size:12px;"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                <div class="modal fade " id="EliminarCiudadano@(c.IdCandidato)" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content bg-danger shadow-sm p-1 rounded">

                                            <div class="modal-header bg-danger p-1 rounded">

                                                <h5 class="modal-title text-white font-weight-light mr-auto" id="staticBackdropLabel" style="font-family: 'Rowdies', cursive; font-size:20px;">Eliminar</h5>

                                                <button type="button" class="btn btn-primary btn-sm text-white p-1 rounded mt-2 shadow-sm" style="font-size:11px;" data-dismiss="modal" aria-label="Close">
                                                    Cancelar
                                                </button>

                                            </div>

                                            <div class="modal-body bg-light text-center">
                                                <h4>¿SEGURO QUE QUIERE ELIMINAR ESTE PARTIDO?</h4>

                                                <div class="mt-2 d-flex justify-content-center">
                                                    <a asp-action="EliminarCandidatos" asp-controller="Candidatos" asp-route-id="@(c.IdCandidato)" class="text-white btn btn-danger shadow-lg ml-auto  btn-block" style="font-size:15px;"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                        }


                    </td>

                    </tr>
                }

            </tbody>
        </table>




    </div>


</body>
<script src='~/js/site.js'></script>
<script>
    const $seleccionArchivos = document.querySelector("#upload-photo"),
        $imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion");
    $delete = document.querySelector("#delete");
    $seleccionArchivos.addEventListener("change", () => {
        const archivos = $seleccionArchivos.files;
        if (!archivos || !archivos.length) {
            $imagenPrevisualizacion.src = "";
            return;
        }
        const primerArchivo = archivos[0];
        const objectURL = URL.createObjectURL(primerArchivo);
        $imagenPrevisualizacion.src = objectURL;
        $('#fotonew').val(objectURL);
        $('#delete').removeAttr('hidden')
    });
    $delete.addEventListener("click", () => {
        $seleccionArchivos.src = "";
        $imagenPrevisualizacion.src = "https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png";
        $('#delete').attr("hidden", true)
    });
    const $seleccionArchivos2 = document.querySelector("#upload-photo2"),
        $imagenPrevisualizacion2 = document.querySelector("#imagenPrevisualizacion2");
    $delete2 = document.querySelector("#delete2");
    $seleccionArchivos2.addEventListener("change", () => {
        const archivos2 = $seleccionArchivos2.files;
        if (!archivos2 || !archivos2.length) {
            $imagenPrevisualizacion2.src = "";
            return;
        }
        const primerArchivo2 = archivos2[0];
        const objectURL2 = URL.createObjectURL(primerArchivo2);
        $imagenPrevisualizacion2.src = objectURL2;
        $('#delete2').removeAttr('hidden')
    });
    $delete2.addEventListener("click", () => {
        $seleccionArchivos2.src = "";
        $imagenPrevisualizacion2.src = "https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png";
        $('#delete2').attr("hidden", true)
    });
    $(document).ready(function () {
        $('#name').change(function () {
            const archivos3 = $seleccionArchivos2.files;
            $('#firstname').val($('#name').val());
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>